//- ======= File Map =======
   - the site title
      |-> base menu
      
- var title = 'MrZogorn'
- var n = 0
doctype html
html
   include base/head
   body
      
      
      .container
         .row
            each _ in Array(10)
               .col
                  .gallary-item
                     img(src="assets/images/person-1.jpg")
         
      
      
      
      
      script(src='assets/js/main.js')
